<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>
  <style>
    body {
      background-image: url('<%= asset_path("main_picture.webp") %>');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      background-color: #0a0b0c;
      margin:0px;
      padding:0px;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      overflow: auto;

    }


    .content-container {
      max-width: 100%; /* Set the width to 100% */
      width: 100%;
      padding: 15px;
      box-sizing: border-box; /* Include padding in the width */
      margin: 20px auto; /* Adjust the margin-top to create space below the navbar */
    }

  </style>
</head>
<body>

  <%= yield :navbar %> <!-- Include the navbar from application.html.erb -->

  <div class="content-container">

    <div>
      <div class= "text-center" style="padding-bottom: 20px;">
        <h1>
          My Fitness Snapshot
        </h1>
      </div>
    </div>

    <div>
      <div class="card-body text-center" style="padding-top: 0px; padding-left: 0px;">
        <div class="row justify-content-center">
          <div class="col">

            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <h4 class="text-uppercase m-0">My Current Goal:</h4>
                <hr class="my-4 mx-auto" style="color: #64a19d;">
              
              <!--display most recent goal-->
                    <% if @most_recent_goal %>
                    <p style="color: #64a19d; font-size: 26px;"><%= @most_recent_goal %></p>
                    <!-- Add more details as needed -->
                  <% else %>
                    <a href="/goals" class="nav-link" style="color: #64a19d; font-size: 26px;">Set a goal!</a>
                  <% end %>
              </div>
            </div>

          </div>

          <div class="col">

            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <h4 class="text-uppercase m-0">Total Workouts Created:</h4>
                <hr class="my-4 mx-auto" style="color: #64a19d;">

              <!--display number of created workouts-->
                    <% if @created_workouts_count  %>
                    <p style="color: #64a19d; font-size: 26px;"><%= @created_workouts_count  %></p>
                    <!-- Add more details as needed -->
                  <% else %>
                    <a href="/workouts" class="nav-link" style="color: #64a19d; font-size: 26px;"> Create a workout with My PersonAI Coach!</a>
                  <% end %>

              </div>
            </div>

          </div>




          <div class="col">

            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <h4 class="text-uppercase m-0">Days till my goal:</h4>
                <hr class="my-4 mx-auto" style="color: #64a19d;">

                    <% if @most_recent_due_date %>
                    <p style="color: #64a19d; font-size: 26px;"><%= @days_till_goal %></p>
                    <!-- Add more details as needed -->
                  <% else %>
                    <a href="/goals" class="nav-link" style="color: #64a19d; font-size: 26px;">Set a goal!</a>
                  <% end %>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</body>
</html>
