<style >
  body {
    background-image: url('<%= asset_path("demo-image-01.jpg") %>');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    background-color: #0a0b0c;
  }

</style >

<div>
  <div class= "text-center" style="padding-bottom: 20px;">
    <h1>
      Plan a workout
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card py-4 h-100">
      <h2 style="color: #64a19d; padding-top: 10px;" class="text-center">Personalize</h2>
      <div class="card-body text-center">
        <form action="/insert_workout" method="post">

          <div class="row" style="padding-bottom: 20px;">
            <div class="col">
              <label for="workout_date_box">Workout date</label>
              <input type="date" id="workout_date_box" name="query_workout_date" class="form-control">
            </div>
          </div>

          <div class="row" style="padding-bottom: 20px;">
            <div class="col">
              <label for="duration_minutes_box">Desired duration minutes</label>
              <input type="text" id="duration_minutes_box" name="query_duration_minutes" class="form-control">
            </div>
          </div>

          <div class="row" style="padding-bottom: 20px;">
            <div class="col">
              <label for="equipment_box">Equipment</label>
              <input type="text" id="equipment_box" name="query_equipment" class="form-control">
            </div>
          </div>


          <div class="row" style="padding-bottom: 20px;">
            <div class="col">
              <label for="workout_sport_box">Workout sport</label>
              <input type="text" id="workout_sport_box" name="query_workout_sport" class="form-control">
            </div>
          </div>

          <div class="row" style="padding-bottom: 20px;">
            <div class="col">
              <label for="workout_intensity_box">Adjust workout intensity</label>
              <input type="text" id="workout_intensity_box" name="query_workout_intensity" class="form-control">
            </div>
          </div>


          <div class="row" style="padding-top: 20px;">
            <div class="col">
              <button class="btn btn-pwd">Create Workout</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>








<hr>
<style>
  .table-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 0 auto; /* Center the container horizontally */
  }
</style>

<div class="row" style="padding-top: 20px; padding-bottom: 20px">
  <div class="col-md-8 offset-md-2">
    <div class="card py-4 h-100 table-container">
      <h2 style="color: #a16468; padding-top: 10px;" class="text-center">My Workouts</h2>
      <div class="card-body text-center">
        <table class="table table-bordered">
          <p style="color: #343a40; padding-bottom: 20px" class="text-center">Explore your workout history</p>
          <thead>
            <tr>
              <th>Workout date</th>
              <th>Assignment</th>
              <th>Workout sport</th>
              <th>Workout intensity</th>
              <th>Completion status</th>
              <th>Workout feelings</th>
<!--              <th>Created at</th>
              <th>Updated at</th>-->
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @list_of_workouts.each do |a_workout| %>
              <tr>
                <td><%= a_workout.workout_date %></td>
                <td><%= a_workout.assignment %></td>
                <td><%= a_workout.workout_sport %></td>
                <td><%= a_workout.workout_intensity %></td>
                <td><%= a_workout.completion_status %></td>
                <td><%= a_workout.workout_feelings %></td>
<!--                <td><%#= time_ago_in_words(a_workout.created_at) %> ago</td>
                <td><%#= time_ago_in_words(a_workout.updated_at) %> ago</td>-->
                <td>
                  <a href="/workouts/<%= a_workout.id %>">
                    Show details
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<hr>
