<style>
  body {
    background-image: url('<%= asset_path("demo-image-01.jpg") %>');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    background-color: #0a0b0c;
  }

  .container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 0 auto; /* Center the container horizontally */
    max-width: 800px; /* Set your desired maximum width */
  }
</style>

<div class="container">
  <div>
    <h2 style="color: #64a19d">
      Workout details
    </h2>

    <div>
      <div>
        <a href="/workouts">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_workout/<%= @the_workout.id %>">
          Delete workout
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Workout date
      </dt>
      <dd>
        <%= @the_workout.workout_date %>
      </dd>

      <dt>
        Duration minutes
      </dt>
      <dd>
        <%= @the_workout.duration_minutes %>
      </dd>

      <dt>
        Equipment
      </dt>
      <dd>
        <%= @the_workout.equipment %>
      </dd>

      <dt>
        Assignment
      </dt>
      <dd>
        <%= @the_workout.assignment %>
      </dd>

      <dt>
        Workout sport
      </dt>
      <dd>
        <%= @the_workout.workout_sport %>
      </dd>

      <dt>
        Workout intensity
      </dt>
      <dd>
        <%= @the_workout.workout_intensity %>
      </dd>

      <dt>
        Completion status
      </dt>
      <dd>
        <%= @the_workout.completion_status %>
      </dd>

      <dt>
        Workout feelings
      </dt>
      <dd>
        <%= @the_workout.workout_feelings %>
      </dd>


      <dt>
        Goal
      </dt>
      <dd>
        <%= @the_workout.goal_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_workout.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_workout.updated_at) %> ago
      </dd>
    </dl>
  </div>

  <hr>

  <div>
    <h2 style="color: #64a19d">
      Edit workout
    </h2>

    <form action="/modify_workout/<%= @the_workout.id %>"  method="post" >
      <div>
        <label for="workout_date_box">
          Workout date
        </label>

        <input type="date" id="workout_date_box" name="query_workout_date" class="form-control" value="<%= @the_workout.workout_date %>">
      </div>

      <div>
        <label for="duration_minutes_box">
          Duration minutes
        </label>

        <input type="text" id="duration_minutes_box" name="query_duration_minutes" class="form-control" value="<%= @the_workout.duration_minutes %>">
      </div>

      <div>
        <label for="equipment_box">
          Equipment
        </label>

        <input type="text" id="equipment_box" name="query_equipment" class="form-control" value="<%= @the_workout.equipment %>">
      </div>

      <div>
        <label for="assignment_box">
          Assignment
        </label>

        <textarea id="assignment_box" name="query_assignment" class="form-control" rows="3"><%= @the_workout.assignment %></textarea>
      </div>

    <div class="row" style="padding-bottom: 10px;">
      <div class="col">
        <label for="workout_sport_box">Workout sport:</label>
        <select id="workout_sport_box" name="query_workout_sport" class="form-control">
          <option value="Running" <%= @the_workout.workout_sport == 'Running' ? 'selected' : '' %>>Running</option>
          <option value="Swimming" <%= @the_workout.workout_sport == 'Swimming' ? 'selected' : '' %>>Swimming</option>
          <option value="Cycling" <%= @the_workout.workout_sport == 'Cycling' ? 'selected' : '' %>>Cycling</option>
          <option value="Indoors Cycling (trainer)" <%= @the_workout.workout_sport == 'Indoors Cycling (trainer)' ? 'selected' : '' %>>Indoors Cycling (trainer)</option>
          <option value="Jogging" <%= @the_workout.workout_sport == 'Jogging' ? 'selected' : '' %>>Jogging</option>
          <option value="Open Water Swimming" <%= @the_workout.workout_sport == 'Open Water Swimming' ? 'selected' : '' %>>Open Water Swimming</option>
          <option value="Run-Walk" <%= @the_workout.workout_sport == 'Run-Walk' ? 'selected' : '' %>>Run-Walk</option>
          <option value="Spinning" <%= @the_workout.workout_sport == 'Spinning' ? 'selected' : '' %>>Spinning</option>
          <option value="Trail Running" <%= @the_workout.workout_sport == 'Trail Running' ? 'selected' : '' %>>Trail Running</option>
          <option value="Treadmill Running" <%= @the_workout.workout_sport == 'Treadmill Running' ? 'selected' : '' %>>Treadmill Running</option>
          <option value="Triathlon" <%= @the_workout.workout_sport == 'Triathlon' ? 'selected' : '' %>>Triathlon</option>
          <option value="At-home strengthening" <%= @the_workout.workout_sport == 'At-home strengthening' ? 'selected' : '' %>>At-home strengthening</option>
        </select>
      </div>
    </div>


      <div class="row" style="padding-bottom: 20px;">
        <div class="col">
          <label for="workout_intensity_box">Adjust workout intensity:</label>
          <select id="workout_intensity_box" name="query_workout_intensity" class="form-control">
            <option value="default" <%= @the_workout.workout_intensity == 'default' ? 'selected' : '' %>>Default</option>
            <option value="take_it_easy" <%= @the_workout.workout_intensity == 'take_it_easy' ? 'selected' : '' %>>Take it easy today</option>
          </select>
        </div>


      <div class="row" style="padding-bottom: 10px; padding-top: 10px;">
        <div class="col">
          <label for="completion_status_box">Completion status:</label>
          <select id="completion_status_box" name="query_completion_status" class="form-control">
            <option value="Completed">Completed</option>
            <option value="Couldn't Train Today">Couldn't Train Today</option>
            <option value="Partially Completed">Partially Completed</option>
          </select>
        </div>
      </div>


      <div>
        <label for="workout_feelings_box">
          Workout feelings
        </label>

        <input type="text" id="workout_feelings_box" name="query_workout_feelings" class="form-control" value="<%= @the_workout.workout_feelings %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" class="form-control" value="<%= @the_workout.user_id %>">
      </div>

      <div>
        <label for="goal_id_box">
          Goal
        </label>

        <input type="text" id="goal_id_box" name="query_goal_id" class="form-control" value="<%= @the_workout.goal_id %>">
      </div>

      <div style="padding-top: 20px;">
        <button class="btn btn-pwd">
          Update Workout
        </button>
      </div>
    </form>
  </div>
</div>

<hr>
