<style >
  body {
    background-image: url('<%= asset_path("main_picture.webp") %>');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 

  }

  .table-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 0 auto; 
  }

  .table-container table {
    max-width: 100%; /* table should not exceed the container width */
    overflow-x: auto; 
  }
</style >



<div class="col-lg-8; table-container" style="padding: 15px;">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

<div class="field custom-field">
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
</div>

<div>
  <div class="actions" >
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>


<div class="col-lg-8" style="padding: 15px;">
<%= render "devise/shared/links" %>
</div>

</div>
</div>

<% end %>
