<style>
  body {
    background-image: url('<%= asset_path("demo-image-02.jpg") %>');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #0a0b0c;
  }

  .table-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 0 auto; /* Center the container horizontally */
    max-width: 1000px; /* Set your desired maximum width */
  }
</style>

<div>
  <div class="text-center">
    <h1>My Goal</h1>
  </div>
</div>

<div class="container">
  <div class="row" style="padding-top: 20px; padding-bottom: 20px">
    <div class="col-md-8 offset-md-2">
      <div class="card py-4 h-100 table-container">
        <h3 style="color: #64a19d;">Details</h3>

        <dl class="mt-4">
          <dt>Goal:</dt>
          <dd><%= @the_goal.goal %></dd>

          <dt>Goal target date:</dt>
          <dd><%= @the_goal.goal_due_date %></dd>

          <dt>Goal status:</dt>
          <dd><%= @the_goal.goal_status %></dd>

          <dt>Main goal sport:</dt>
          <dd><%= @the_goal.main_goal_sport %></dd>

          <dt>Goal outcome:</dt>
          <dd><%= @the_goal.goal_outcome %></dd>

          <dt>Created at</dt>
          <dd><%= time_ago_in_words(@the_goal.created_at) %> ago</dd>

          <dt>Updated at</dt>
          <dd><%= time_ago_in_words(@the_goal.updated_at) %> ago</dd>
        </dl>

        <div class="row" style="padding-bottom: 20px">
          <a href="/goals" class="btn btn-pwd">Go back</a>
        </div>
        <div class="row">
          <a href="/delete_goal/<%= @the_goal.id %>" class="btn btn-pwd">Delete goal</a>
        </div>

        <hr>

        <h3 style="color: #64a19d; padding-bottom: 20px; padding-top: 10px">Edit goal and log outcomes</h3>
        <form action="/modify_goal/<%= @the_goal.id %>" method="post">
          <div class="form-group" style="padding-bottom: 20px;">
            <label for="goal_box">Goal</label>
            <textarea id="goal_box" name="query_goal" class="form-control" rows="3"><%= @the_goal.goal %></textarea>
          </div>

          <div class="form-group" style="padding-bottom: 20px;">
            <label for="goal_due_date_box">Goal target date</label>
            <input type="date" id="goal_due_date_box" name="query_goal_due_date" class="form-control" value="<%= @the_goal.goal_due_date %>">
          </div>

<!--          <div class="form-group" style="padding-bottom: 20px;">
            <label for="goal_status_box">Goal status</label>
            <input type="text" id="goal_status_box" name="query_goal_status" class="form-control" value="<%#= @the_goal.goal_status %>">
          </div>-->

          <div class="form-group" style="padding-bottom: 20px;">
            <label for="main_goal_sport_box">Main goal sport</label>
            <input type="text" id="main_goal_sport_box" name="query_main_goal_sport" class="form-control" value="<%= @the_goal.main_goal_sport %>">
          </div>

          <div class="form-group" style="padding-bottom: 20px;">
            <label for="goal_outcome_box">Goal outcome</label>
            <input type="text" id="goal_outcome_box" name="query_goal_outcome" class="form-control" value="<%= @the_goal.goal_outcome %>">
          </div>

          <div class="form-group" style="padding-top: 20px;">
            <button class="btn btn-pwd">Update goal</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<hr>
