<style >
  body {
    background-image: url('<%= asset_path("demo-image-02.jpg") %>');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    background-color: #0a0b0c;

  }

</style >



<div>
  <div>
    <h1>
      Goal #<%= @the_goal.id %> details
    </h1>

    <div>
      <div>
        <a href="/goals">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_goal/<%= @the_goal.id %>">
          Delete goal
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Goal
      </dt>
      <dd>
        <%= @the_goal.goal %>
      </dd>

      <dt>
        Goal due date
      </dt>
      <dd>
        <%= @the_goal.goal_due_date %>
      </dd>

      <dt>
        Goal status
      </dt>
      <dd>
        <%= @the_goal.goal_status %>
      </dd>

      <dt>
        Main goal sport
      </dt>
      <dd>
        <%= @the_goal.main_goal_sport %>
      </dd>

      <dt>
        Goal outcome
      </dt>
      <dd>
        <%= @the_goal.goal_outcome %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_goal.user_id %>
      </dd>

      <dt>
        Workouts count
      </dt>
      <dd>
        <%= @the_goal.workouts_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_goal.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_goal.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit goal
    </h2>

    <form action="/modify_goal/<%= @the_goal.id %>"  method="post" >
      <div>
        <label for="goal_box">
          Goal
        </label>

        <textarea id="goal_box" name="query_goal"><%= @the_goal.goal %></textarea>
      </div>

      <div>
        <label for="goal_due_date_box">
          Goal due date
        </label>

        <input type="date" id="goal_due_date_box" name="query_goal_due_date" value="<%= @the_goal.goal_due_date %>">
      </div>

      <div>
        <label for="goal_status_box">
          Goal status
        </label>

        <input type="text" id="goal_status_box" name="query_goal_status" value="<%= @the_goal.goal_status %>">
      </div>

      <div>
        <label for="main_goal_sport_box">
          Main goal sport
        </label>

        <input type="text" id="main_goal_sport_box" name="query_main_goal_sport" value="<%= @the_goal.main_goal_sport %>">
      </div>

      <div>
        <label for="goal_outcome_box">
          Goal outcome
        </label>

        <input type="text" id="goal_outcome_box" name="query_goal_outcome" value="<%= @the_goal.goal_outcome %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_goal.user_id %>">
      </div>

      <div>
        <label for="workouts_count_box">
          Workouts count
        </label>

        <input type="text" id="workouts_count_box" name="query_workouts_count" value="<%= @the_goal.workouts_count %>">
      </div>


      <div style="padding-top: 20px;">
      <button class= "btn btn-pwd">
        Update goal
      </button>
      </div>

    </form>
  </div>
</div>

<hr>
