<!DOCTYPE html>
<html>

<head>
  <title>Rails Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload", "bootstrap.min": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" %>


<%= javascript_include_tag "application", "https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js", "scripts", "data-turbo-track": "reload" %>


</head>


<body>

<div class="navbar" style="text-align: center; padding: 15px;">
    <a href="/" class="navbar-brand">My PersonAI Coach</a>

    <% if current_user != nil %>
        <a href="/goals" class="nav-link">My goals</a>
        <a href="/workouts" class="nav-link">Plan a workout</a>
        <a href="/users/sign_out" class="nav-link">Sign out</a>
        <a href="/users/edit" class="nav-link">Edit profile</a>
    <% else %>
        <a href="/users/sign_up" class="nav-link">Sign up</a>
        <a href="/users/sign_in" class="nav-link">Sign in</a>
    <% end %>
</div>

<div class="container-fluid" style="padding: 15px;">
  <% if notice.present? %>
    <div style="color: #64a19d;">
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div style="color: #a16468">
      <%= alert %>
    </div>
  <% end %>

  <%= yield %>
</div>
</body>

</html>
